---
layout: default
title: Hiking
permalink: /hiking/
---

<head>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<div class="posts">
  {% for post in site.posts %}
    {% if post.tags contains "hiking" %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        <i>
          {{ post.date | date: '%B %d, %Y' }}
        </i>
        {{ post.excerpt }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
</div>
