
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ebe8e0;
$white: #fbf9f0;

// Font stacks
$helvetica: "Palatino Linotype", Arial;
$helveticaNeue: "Avenir", Arial;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}