//
// VARIABLES
//

// Colors
$blue: #1b63ac;
$black: #000;
$darkerGray: rgb(12, 12, 12);
$darkGray: #333;
$gray: #666;
$lightGray: #ebe8e0;
$white: #fbf9f0;

// Font stacks
$contentFont: "Palatino Linotype", serif;
$titleFont: "Avenir", "Gill Sans", "Montserrat", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}